/* Base.scss */

img {
    max-width: 100%;
    vertical-align: bottom;
    margin-bottom: 1;
    margin-top: 1;
}

body {
    @include body-font;
    font-color: #ABACAE;

    
}

.headline, h1, h3, h4 {
    @include headline-font;
    line-height: 1;
    margin: 0px;
    color: #008381;
    letter-spacing: 2px;
    padding-bottom: 0px;
    
    
}

h2 {
    @include headline-font;
    line-height: 1;
    margin-bottom: 15px;
    color: #008381;
    letter-spacing: 2px;
}
    
h5 {
    @include headline-font;
    font-size: 10pt;
    line-height: 1;
    margin: 10px;
    color: #008381;
    letter-spacing: 2px;
    text-align: left;
    line-height: 18px;
    
}
    

b, strong {
    @include body-font-bold;
}

i, em {
    @include body-font-italic;
}

a, .btn, .toggler, .untoggler {
    color: #AAA;
    text-decoration: none;
    transition: color 300ms linear;
    &:hover {
        color: darken(#fff,20%);
    text-transform: uppercase;
    }
}

nav {
    margin-bottom: 20px;
}

nav a:link {
    padding-right: 30px;
    padding-bottom: 50px;
}

.alnright {
    text-align: right;
    

    
}


