/* Globals.scss */

@import url(http://fonts.googleapis.com/css?family=Alegreya+Sans+SC:300,800|Wire+One);

@mixin body-font {
    font-family: 'Wire One' , sans-serif;
    font-style: normal;
    font-weight: 300;
}

@mixin body-font-italic {
    font-family: "adobe-garamond-pro", "georgia", serif;
    font-style: italic;
    font-weight: 400;
}

@mixin body-font-bold {
    font-family: "adobe-garamond-pro", "georgia", serif;
    font-style: normal;
    font-weight: 700;
}

@mixin headline-font {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-style: normal;
    font-weight: 800;
}